<p>home works!</p>

<div style="border: 1px solid #c3c3c3; padding: 3em;">
    <button (click)="countClick()">Click me</button>
    {{ clickCounter }}
</div>


<div    [ngClass]="setClasses()" 
        [ngStyle]="{
            'background-color': clickCounter > 4 ? 'yellow' : 'orange',
            'border':           clickCounter > 6 ? '3px solid red' : ''
            }">
    <ng-template [ngIf]="clickCounter > 4" [ngIfElse]="none">Clicked more than 4 times</ng-template>
    
    <ng-template #none>You have not clicked this more than 4 times</ng-template>
</div>